.navbar-collapse.watchlist-collapse.navbar-dark
  .navbar-nav
    .nav.justify-content-end.py-2
      %button.navbar-toggler{ 'type': 'button', data: { toggle: 'watchlist' }, aria: { expanded: 'false', label: 'Toggle navigation' } }
        %i.fas.fa-times

    - if @watchable_record.is_a?(Package)
      = render 'layouts/webui/responsive_ux/watchlist/toogle_package'
    - elsif params[:project]
      = render 'layouts/webui/responsive_ux/watchlist/toogle_project'

    %h5.pt-2.text-light Items you are watching

    - if User.session!.watchlist_packages.present?

      %h6.pt-2.text-light Packages

      .list-group.list-group-flush
        - User.session!.watchlist_packages.order(:name).pluck(:name).each do |package_name|
          .bg-dark.list-group-item.border-0
            = link_to package_show_path(package_name), class: 'text-word-break-all' do
              %i.fas.fa-cubes
              #{package_name}
    
    - if User.session!.watched_project_names.present?

      %h6.pt-2.text-light Projects

      .list-group.list-group-flush
        - User.session!.watched_project_names.each do |project|
          .bg-dark.list-group-item.border-0
            = link_to project_show_path(project), class: 'text-word-break-all' do
              %i.fas.fa-cubes
              #{project}
